#service
  position: relative
  top: -620px
  background-color: #26C6D0
  border-radius: 50px
  text-align: center
  z-index: 0
  @include pad
    top: -420px
  @include desktop
    top: -250px
  .space
    height: 620px
    @include pad
      height: 420px
    @include desktop
      height: 250px

.card
  .fruit
    width: 108px
    height: 108px
    background-color: #fff
    border-radius: 50%
    padding: 20px
    margin: 0 auto
    img
      height: 100%
  .card-title
    font: 700 16px 'proxima-nova'
    color: #fff
    letter-spacing: 1px
    text-transform: uppercase
    margin: 10px 0
    @include pad
      font-size: 20px
      letter-spacing: 2px
      margin: 15px 0